# Configuration file

general {
    # Enables debug features. Will spam the console with unnecessary information, so leave this off unless you are trying to fix a problem!
    B:"Debug Mode"=false

    # Master switch, enables all features
    B:"Reducer Enabled"=true

    ##########################################################################################################
    # iceandfire
    #--------------------------------------------------------------------------------------------------------#
    # Ice and Fire AI Options
    ##########################################################################################################

    iceandfire {
        # Should myrmex AI be tweaked
        B:Myrmex=true

        # Delay for AI getting a new task - Vanilla is 3
        # Min: 3
        # Max: 20
        I:MyrmexAIDelay=3

        # Update chance for EscortEntity - Vanilla is 1.0
        # Min: 0.025
        # Max: 1.0
        D:"MyrmexUpdateChance EscortEntity"=0.1

        # Update chance for FindHidingSpot - Vanilla is 1.0
        # Min: 0.025
        # Max: 1.0
        D:"MyrmexUpdateChance FindHidingSpot"=0.1

        # Update chance for Forage - Vanilla is 1.0
        # Min: 0.025
        # Max: 1.0
        D:"MyrmexUpdateChance Forage"=0.1

        # Update chance for ReEnterHive - Vanilla is 1.0
        # Min: 0.025
        # Max: 1.0
        D:"MyrmexUpdateChance ReEnterHive"=0.1

        # Replaces Ice and Fire dragon avoiding AI to use reduced AI settings instead
        B:ReplaceVillageAIFearUntamed=true
    }

    ##########################################################################################################
    # minecraft
    #--------------------------------------------------------------------------------------------------------#
    # Minecraft AI Options
    ##########################################################################################################

    minecraft {
        # Should vanilla rabbit AI be tweaked
        B:Rabbit=true

        # Delay for AI getting a new task - Vanilla is 3
        # Min: 3
        # Max: 20
        I:RabbitAIDelay=6

        # Delay for rabbits checking if they are scared - Vanilla is 1
        # Min: 1
        # Max: 10
        I:RabbitAvoidDelay=2
    }

}


